@import url(https://fonts.googleapis.com/css?family=Poppins);

.flex-container {
    display: flex;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins';
    background-color: #DECDCB;
}

::placeholder {
    font-family: 'Poppins';
    padding-left: 10px;
}

.home-label {
    cursor: pointer;

}

.products-label {
    cursor: pointer;
}

.about-label {
    cursor: pointer;
}

.contact-us-label {
    cursor: pointer;
}

.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    margin-top: 0rem;
    margin-bottom: 3rem;
    align-items: center;
    font-size: 2rem;

}

.Cube-World-Logo {
    display: flex;
    justify-content: center;
    color: white;
    padding-right: 70px;
    cursor: pointer;

}

.sign-up-log-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

.sign-up {
    background-color: #fff5ef;
    border: .025rem solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min-content;
    position: fixed;
}

.log-in {
    border: .025rem solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min-content;
    position: fixed;
}

.cart {
    font-size: 25px;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-flow: column;
    position: fixed;
    align-items: center;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 375px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
}

.add-to-cart-button {
    cursor: pointer;
    background-color: #2F4858;
    color: white;
    border-radius: 10rem;
    height: 40px;
    width: 100px;
    font-family: 'Poppins';
    user-select: none;
}

.cart-item {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    width: 350px;
    height: 10%;
    border: .025rem solid #fff5ef;
    border-width: 2px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
}

.cart-item-picture {
    width: 25%;
    height: 90%;
}

.inner-cart-div {
    font-family: 'Poppins';
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.trash-btn {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    user-select: none;
}

#alert {
    visibility: hidden;
}

.image {
    width: 100%;
    height: 100%;
}

.best-seller {
    text-align: center;
    flex-flow: column wrap;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 0rem;
    align-items: center;
    font-size: 2rem;
}

.cart-button {
    position: fixed;
    bottom: 40px;
    right: 50px;
    background-color: rgb(0, 128, 233);
    color: white;
    height: 100px;
    width: 100px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.shopping-cart-icon {
    display: flex;
    margin-left: 14px;
}



.Lowerbtns {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-top: 0rem;
    font-style: bold;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5rem;
    user-select: none;
}

.login-signup-label {
    margin-left: 10px;
    color: white;
    cursor: pointer;
    padding-right: 15px;
}

.best-seller-label {
    text-align: center;
    display: flex;
    height: 100px;
    margin-left: 15%;
    margin-top: 0rem;
    align-items: center;
    font-size: 3rem;
}

.best-seller-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

.search-input {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    height: 50px;
    border-radius: 4rem;
    font-size: 17px;
}

.search-btn {
    background-color: black;
    border: #fff5ef;
    color: white;
    cursor: pointer;
    user-select: none;
}

.search-bar-pair {
    display: flex;
    padding-left: 15px;
}

.product-page-header {
    text-align: center;
    display: flex;
    background-color: rgb(204, 204, 204);
    height: 100px;
    margin-top: 0rem;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
}

.Product-Page-Title {
    display: flex;
    justify-content: center;
}

.product-title {
    text-align: center;
    display: flex;
    align-items: center;
}

.products-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

.info {
    margin-top: auto;
    justify-content: center;
}

.product {
    border: .025rem solid #2F4858;
    padding: 2.94%;
    background-color: #FFF5EF;
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
}

.view-btn {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #ffffff;
    cursor: pointer;
    border: .025rem solid #2F4858;
    border-radius: 50px;
    background-color: #2F4858;
    user-select: none;
}

.pay-btn {
    width: 300px;
    height: 4rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #ffffff;
    cursor: pointer;
    border: .025rem solid #2F4858;
    border-radius: 50px;
    background-color: #2F4858;
    user-select: none;

}

.Checkout {
    text-align: center;
    flex-flow: column wrap;
    display: flex;
    height: 100%;
    margin-right: 30px;
    align-items: baseline;
    font-size: 2rem;
    padding-bottom: 50px;
    border: #2F4858;
}

.Checkout-items {
    text-align: center;
    display: flex;
    height: 100%;
    font-size: 2rem;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: #2F4858;
}

.Checkout-page {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border: .25rem solid #2F4858;
    border-radius: 30px;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fae9de;

}

.Checkout-input {
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 15px
}

.Checkout-header {
    width: 100%;
    margin-bottom: 10px;
}

.Checkout-item-list {
    display: flex;
    height: 100%;
    font-size: 2rem;
    border: #2F4858;
}

#selected-item-dialog[open] {
    width: 1100px;
    height: 450px;
    display: inline-flex;
}

.info-modal {
    flex: 50%;
    float: right;
    display: inline;
    padding-top: 50px;
}

.image-modal {
    height: 300px;
    width: 300px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;

}

.product-title-modal {
    display: flex;
    margin-bottom: 0;
    width: auto;
}

.image-slider {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.next-image-btn {
    cursor: pointer;
    border-radius: 10rem;
    background-color: #2F4858;
    color: #fff;
    user-select: none;
}

.product-description-modal {
    display: block;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.About {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.img-div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
}

.img {
    height: 500px;

}

.contact-img {
    height: 250px;
}

.contact-img-div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    cursor: pointer;
    padding-left: 150px;
    padding-right: 150px;
}

.Contact-email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    text-decoration: underline;
    cursor: pointer;
}

.Cart-Item-Counter {
    border: .25rem solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 90rem;
    font-size: 20px;
    width: 25px;
    display: flex;
    overflow-x: hidden;
    flex-flow: column;
    position: fixed;
}

.checkout-btn {
    width: 90%;
    height: 4rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #000000;
    cursor: pointer;
    border: .025rem solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: #FFF5EF;
    margin-top: 10px;
    user-select: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }